<form class="example-form" [formGroup]="myForm">
  <div class="container">
    <div class="row">

      <div class="container">
        <div class="row">
          <!-- <div class="search"> -->
          <div class="col-sm">
            <div>
              <mat-form-field>
                <mat-select name="subject" required autocomplete="off" placeholder="בחר עיר" formControlName="city">
                  <mat-option *ngFor="let option of  billboardsCities" [value]="option" (click)="ChangeCity()">
                    {{option}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="myForm.controls.city.invalid">חובה להכניס עיר</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="col-sm">
            <div>
              <mat-form-field>
                <mat-select name="subject" required autocomplete="off" placeholder="בחר רחוב" formControlName="street">
                  <mat-option *ngFor="let option of streetarr" [value]="option">
                    <!-- <input type="checkbox" (change)="onChange($event.target.checked, option)" > -->
                    <mat-checkbox class="example-margin" (change)="onChange( option)"> {{option}}</mat-checkbox>

                  </mat-option>
                </mat-select>
                <mat-error *ngIf="myForm.controls.street.invalid">חובה להכניס רחוב</mat-error>
              </mat-form-field>
            </div>
            <!-- </div> -->
            <div class="col-sm">
              <div>
                <mat-form-field>
                  <mat-label>בחר תאריך</mat-label>
                  <input matInput [matDatepicker]="picker" required formControlName="date"
                    (keydown)="validateNumber($event)" [matDatepickerFilter]="dateFilter">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error *ngIf="myForm.controls.date.invalid">חובה להכניס תאריך</mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <p [style.color]="'red'" *ngIf="!myForm.controls.date.invalid&&checkDate()">חובה לבחור תאריך קטן מהיום</p>
      </div>
    </div>
    <br>
  </div>
  <div class="container">
    <div class="row justify-content-md-center"> 
  <div class="example-button-container">
    <button mat-fab color="accent" (click)="search()" [disabled]="checkFormValid()">
      <mat-icon>search</mat-icon>
    </button>
  </div>
   </div>
  </div> 

  <div *ngIf="!Exists" class="alert alert-warning alert-dismissible fade show a" role="alert">
    <strong>לא קיים לוח לפי הקריטריונים שהזנת!!</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</form>
<mat-grid-list cols="4" rowHeight="80px" *ngIf="divList.length!=0"
  style="border:3px solid black;width: 70vw;margin: auto;">
  <mat-grid-tile style="border:3px solid black" *ngFor="let tile of divList" [colspan]="tile.cols" [rowspan]="tile.rows"
    [style.background]="tile.color">
    <img src={{tile.text}} (click)="updateviews(tile)">
  </mat-grid-tile>
</mat-grid-list>