<fieldset>
    <legend>הוראות</legend>
<br>
    לקוח/ה יקר/ה, באזורך האישי תוכל/י לפרסם מודעות, ע"י שני שלבים:
    <br>
    •	עליך להעלות תמונה שתתאים לגודל הרצוי לפרסום ולשלוח לבדיקת תוכן למנהל האתר.
    <br>
    •	במידה וקיבלת הודעה למייל שהמודעה מאושרת, תוכל/י להיכנס לאזורך האישי שוב, ובקישורית של "צפייה במודעות" תוכל/י לצפות בכל המודעות שלך שאושרו. וכך תוכל/י להמשיך את תהליך הפרסום ע"י לחיצה על הכפתור "לחץ כאן להמשך תהליך הפרסום" ובמסך שיפתח להזין את פרטי המודעה שברצונך לפרסם.
    <br>
    להלן פרוט השדות שעליך למלא:
    <br>
    •	בחר אורך: האורך הנתון הוא לפי מספר יחידות ולא לפי גודל של ס"מ/ מטר וכו'. כל יחידה היא שמינית מהגובה הכללי של הלוח.
    <br>
    •	בחר רוחב: הרוחב הנתון הוא לפי מספר יחידות ולא לפי גודל של ס"מ/ מטר וכו'. כל יחידה היא רבע מהרוחב הכללי של הלוח.
    <br>
    הגדלים של האורך והרוחב תלויים אחד בשני, ולא ניתן לבחור כל אורך עם כל רוחב רצוי. אלא מהבחירה הניתנת, שמשתנה בהתאם לבחירתך. המודעה שמפורסמת אמורה להתאים בדיוק לאורך ולרוחב הנבחרים.
    <br>
    •	איפוס אורך ורוחב: אופציה המאפשרת איפוס של השדות אורך ורוחב, ע"מ שניתן יהיה לבחור גדלים מחדש.
    <br>
    •	בחר תאריך התחלה/ סיום: בשדות אילו עליך לבחור טווח של תאריכים שבהם ברצונך לפרסם את המודעה. פרסום מתחיל ונגמר רק בימי ראשון, לא כולל חגים. מספר הימים המינימלי לפרסום הוא לשבוע.
    <br>
    •	בחר קטגוריה: עליך לבחור קטגוריה מתאימה למודעתך מתוך הרשימה הניתנת. ע"מ שמודעתך תופיע כאשר יתבצע חיפוש על קטגוריה זו.
    <br>
    •	בחר עיר: עליך לבחור עיר מהאפשרויות הניתנות, שבה תרצה/י לפרסם את מודעתך.
    <br>
    •	בחר רחוב: בשדה זה מופיעים רק רחובות שבהם מוצבים לוחות מודעות, בהתאם לעיר שבחרת. ועליך לבחור את הרחוב הרצוי לפרסום.
    <br>
    •	
    לחץ כאן לקבלת רשימת התאריכים הפנויים למודעתך: כפתור זה יהיה מאופשר רק כאשר כל השדות יהיו מלאים. ולאחר לחיצה עליו יוצגו כל התאריכים הפנויים בטווח. לעיתים השבועות הפנויים לא יהיו רצופים לפרסום. ועליך לשים לב לכך. ולכן באפשרותך לבחור טווח תאריכים מחדש. 
    ולעדכן את התאריכים החדשים שבחרת, ע"י לחיצה נוספת על כפתור זה.
    <br>
    •	לחישוב התשלום: כפתור זה יהיה מאופשר רק כאשר כל השדות יהיו מלאים. לאחר לחיצה על כפתור זה יוצג המחיר לפרסום עפ"י הקריטריונים שנבחרו. חישוב המחיר יושפע ממיקום הפרסום ומגודל המודעה, כמו כן, החל משבוע שני לפרסום תינתן הנחה קבועה על כל שבוע נוסף ללוח הספציפי שנבחר עם המודעה הספציפית.
    <br>
    •	לאישור ותשלום: כפתור זה יהיה מאופשר רק כאשר כל השדות מלאים. ולאחר לחיצה על כפתור זה תועבר/י למסך תשלום. ולאחר מילוי הפרטים במסך זה ולחיצה על כפתור התשלום מודעתך תתוסף למאגר ותתפרסם לפי הקריטריונים שנבחרו.  
    
</fieldset>

