.container{
    
    background-image: url(../../images/homepage2.png);
    // background-image: url('../../../images/homepage.png');
    //background-size: cover;
  }
  .home{
    height: 54vh;
    width: 60vw;
    position: relative;
    top: 0vh;
    right: 16vw;

  }