<br>
<br>
<table class="table-fill">
    <thead>
        <tr>
            <th><mat-icon>flaky</mat-icon></th>
            <th class="text-left">קוד מודעה</th>
            <th class="text-left">תאריך בקשה</th>
            <th class="text-left">קוד לקוח</th>
            <th class="text-left">תמונת המודעה</th>
        </tr>
    </thead>
    <tbody class="table-hover" *ngFor="let item of Arradvertisment">
        <tr>
            <td class="text-left">
                <button id="check_circle" (click)="ChangeStatus(item)"><mat-icon>check_circle</mat-icon></button>
                <button id="cancel"(click)="Cancel(item)"><mat-icon>cancel</mat-icon></button>
            </td>
            <td class="text-left">{{item.AdId}}</td>
            <td class="text-left">{{item.AdDateRequest|date:'shortDate'}}</td>
            <td class="text-left"> {{item.AdUserId}}</td>
            <td class="text-left"><img src={{item.AdFiles}}></td>
        </tr>
    </tbody>
</table>