<form [formGroup]="myForm">
  <div class="b">
    <div class="inb">
      <div>
        <mat-form-field>
          <mat-label>הכנס שם</mat-label>
          <input matInput required formControlName="UserName" (input)="inputValidator($event)" autocomplete="off">
          <mat-error *ngIf="myForm.controls.UserName.invalid">חובה להכניס שם</mat-error>
        </mat-form-field>
      </div>
      <div class="example-container">
        <mat-form-field>
          <mat-label>הכנס מייל</mat-label>
          <input matInput placeholder="pat@example.com" required formControlName="UserMail" autocomplete="off"
            type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
          <mat-error *ngIf="myForm.controls.UserMail.invalid">חובה להכניס מייל תקין</mat-error>
        </mat-form-field>
      </div>
      <div class="example-container">
        <mat-form-field>
          <mat-label>הכנס סיסמה</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" required formControlName="Userpassword">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="myForm.controls.Userpassword.invalid">חובה להכניס סיסמה בת 8 תוים לפחות</mat-error>
        </mat-form-field>
      </div>
      <div class="example-container">
        <mat-form-field>
          <mat-label>הכנס פלאפון</mat-label>
          <input matInput #input maxlength="10" minlength="9" name="phone" required formControlName="Userphone"
            (keydown)="validateNumber($event)" autocomplete="off">
          <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
          <mat-error *ngIf="myForm.controls.Userphone.invalid">חובה להכניס פלאפון באורך 10 ספרות</mat-error>
        </mat-form-field>
      </div>
 
      <br>
      <button mat-raised-button color="accent" class="example-button-row bu" (click)="Register()"
        [disabled]="myForm.invalid">התחבר</button>
    </div>
  </div>
</form>