<form [formGroup]="myForm">
    <div class="example-container">
        <mat-form-field appearance="fill">
           <mat-label>הכנס מייל</mat-label>
           <input matInput placeholder="pat@example.com" required formControlName="UserMail" autocomplete="off"
           type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" >       
           <mat-error *ngIf="myForm.controls.UserMail.invalid">חובה להכניס מייל תקין</mat-error>
       </mat-form-field>
       </div>  
</form>
 <button (click)="SendMail()" value="שלח סיסמא">
