<form [formGroup]="myForm">
    <div class="example-container">
        <mat-form-field appearance="fill">
           <mat-label>הכנס מייל</mat-label>
           <input matInput placeholder="pat@example.com" required formControlName="UserMail" autocomplete="off"
           type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" >       
           <mat-error *ngIf="myForm.controls.UserMail.invalid">חובה להכניס מייל תקין</mat-error>
       </mat-form-field>
       </div>
     
</form>
 <button (click)="SendMail()" value="שלח סיסמא">
     
<!-- <h1 mat-dialog-title>Hi {{data.name}}</h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field>
    <mat-label>Favorite Animal</mat-label>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button  cdkFocusInitial>Ok</button>
</div> -->
