<form [formGroup]="myForm">
  <div>
    <mat-form-field>
      <mat-select name="subject" required autocomplete="off" placeholder="בחר עיר" formControlName="Boardcity">
        <mat-option *ngFor="let option of  billboardsCities" [value]="option" (click)="ChangeCity()">
          {{option}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="myForm.controls.Boardcity.invalid">חובה להכניס עיר</mat-error>
    </mat-form-field>
  </div>
    <div>          
        <mat-form-field >
            <mat-select name="subject" required autocomplete="off" placeholder="בחר רחוב" formControlName="Boardstreet" >
              <mat-option *ngFor="let option of streetarr" [value]="option" >
                {{option}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="myForm.controls.Boardstreet.invalid">חובה להכניס רחוב</mat-error>
          </mat-form-field>
      </div>
    <button mat-raised-button color="accent" class="example-button-row" (click)=" Delete()" >מחק לוח</button>
</form>
