
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    
  }
  #board{
    margin-left:2vw;
    margin-right: 0.5vw;
}
a{
    color:white;
    text-decoration: none;
    
}
a:hover{
    cursor: -webkit-grab;;
}
  .example-full-width {
    width: 100%;
  }
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
    // border-radius: 50px;
    // background-color:deeppink ;
    // box-shadow: 5ch
  }
  .example-spacer {
    flex: 1 1 auto;
  }