<form class="example-form" >
   <p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" (click)="backtohome()" aria-label="Example icon-button with menu icon">
        <mat-icon>home</mat-icon>
      </button>
      <span>Moda-On-Line</span>
      <span class="example-spacer"></span>
      <a routerLink="login">התחברות</a><mat-icon id="board">group_add</mat-icon>
      <a routerLink="sign-up">כניסה</a><mat-icon id="board">transit_enterexit</mat-icon>
    </mat-toolbar>
  </p>  
  <nav class="navbar navbar-dark bg-dark">
    <button class="btn bar btn-sm btn-outline-secondary" type="button">Smaller button</button>
  </nav>
  <nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <button class="btn bar btn-sm btn-outline-secondary" type="button">Smaller button</button>
      <button class="btn bar btn-sm btn-outline-secondary" type="button">Smaller button</button>
      <button class="btn bar btn-sm btn-outline-secondary" type="button">Smaller button</button>
    </form>
  </nav>
  <div class="container home" ></div>
</form>
<router-outlet></router-outlet>