<table class="table-fill">
    <thead>
        <tr>
            <th class="text-left">קוד מודעה</th>
            <th class="text-left">קטגוריה</th>
            <th class="text-left">תמונת המודעה</th>
            <th class="text-left">מס' צפיות למודעה</th>
            <th>עריכה</th>
        </tr>
    </thead>
    <tbody class="table-hover" *ngFor="let item of userAdArr">
        <tr>
            <td class="text-left">{{item.AdId}}</td>
            <td class="text-left" *ngIf="item.AdCategory!=null">{{GetNameCategoty(item.AdCategory)}}</td>
            <td class="text-left" *ngIf="item.AdCategory==null">לא נבחרה קטגוריה</td>
            <td class="text-left"><img src={{item.AdFiles}}></td>
            <td class="text-left">{{item.AdViews}}</td>
            <td><button (click)="edit(item)">לחץ כאן להמשך תהליך הפרסום</button></td>
        </tr>
    </tbody>
</table>