<form class="example-form" [formGroup]="myForm">
    <mat-form-field >
      <mat-select name="subject" required autocomplete="off" placeholder="בחר קטגוריה" formControlName="category">
        <mat-option *ngFor="let option of Categorylist" [value]="option.CategoryName" (click)="selectedCategory(option)">
          {{option.CategoryName}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="myForm.controls.category.invalid">חובה להכניס קטגוריה</mat-error>
    </mat-form-field>
    <div>
      <app-cities (outputName)="ChangeCity($event)"></app-cities>
    </div>
    <div class="example-button-container">
      <button mat-fab color="accent" [disabled]="myForm.invalid" (click)="search()">
        <mat-icon>search</mat-icon>
      </button>
    </div>
    
  </form>
